@charset "UTF-8";
:root {
  --title-text-color: #212121; /*цвет заголовков h2 h3*/
  --text-color: #757575; /*цвет  текста*/
  --accent-color: #2196f3; /*цвет акцент*/
  --logo-color-text: #000000; /*цвет лого*/
  --secondary-color: #f5f4fa; /*вторичнй фон цвет секций*/
  --brand-color: #2f303a; /*выделяющийся фон сайта*/
  --main-color: #ffffff; /*основной фон, текст на контрасте*/
  --button-active: #188ce8; /*цвет фокусированной кнопки*/
  --footer-text-color: rgba(255, 255, 255, 0.6); /*доп цвет текста в футере*/
  --line-color: #ececec; /* цвет линии */
  --border-color: #eeeeee; /*цвет рамки*/
  --bcg-hero: #c4c4c4; /*фон героя*/
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); /*тень*/
  --icon-color: #afb1b8; /*цвет иконок*/
  --cubic: cubic-bezier(0.4, 0, 0.2, 1); /*кубик переходу*/
}

.visually-hidden {
  /*скрываем заголовок */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer__container, .team, .works, .feature, .hero, .header {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid var(--line-color);
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color-text);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}
.logo--accent {
  color: var(--accent-color);
}

.btn {
  margin: auto;
  padding: 10px 32px;
  min-width: 216px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.btn:hover, .btn:focus {
  background-color: var(--button-active);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*--- contact header ---*/
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

.header__icon-mail {
  fill: currentColor;
}

.header__icon-phone {
  fill: currentColor;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.nav__link--current {
  color: var(--accent-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.hero {
  padding: 200px 0;
  text-align: center;
}

.hero__bcg {
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  max-width: 1600px;
  background-color: var(--bcg-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcghero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-color);
  text-transform: uppercase;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.feature__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-color);
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.feature__dscr {
  line-height: 1.71;
}

.works {
  padding-top: 0px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.works__item {
  position: relative;
}

.works__dscr {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: var(--main-color);
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team__section {
  background-color: var(--secondary-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
}

.team__dscr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.social__icon {
  fill: currentColor;
}

.clients__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.adress__item + .adress__item {
  margin-top: 9px;
}

.adress__list {
  font-style: normal;
  line-height: 1.71;
}

.adress__link {
  color: var(--footer-text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.adress__link--accent {
  color: var(--main-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--main-color);
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.footer__send {
  margin-left: auto;
}

.form-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-send__input {
  padding: 15px 16px;
  width: 358px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.form-send__btn {
  position: relative;
  min-width: 200px;
  padding: 10px 28px;
  text-align: left;
}

.form-send__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-dscr {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

.portfolio-link {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}
.portfolio-link:hover .portfolio-overlay, .portfolio-link:focus .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-btn {
  padding: 6px 22px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* box-shadow: none; */
  -webkit-transition: background-color 250ms var(--cubic), color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.filter-btn:first-child {
  padding-left: 25px;
  padding-right: 25px;
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}

.modal {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Button close of mobal */
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--icon-color);
  background-color: inherit;
  border: 1px solid currentColor; /* rgba(0, 0, 0, 0.1) */
  border-radius: 50%;
  -webkit-transition: color 250ms var(--cubic), outline-color 250ms var(--cubic);
  transition: color 250ms var(--cubic), outline-color 250ms var(--cubic);
}
.btn-close:hover, .btn-close:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.close-icon {
  fill: currentColor;
}

/* ------ Form data ----- */
.modal-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  width: 448px;
  margin: auto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-form-field,
.modal-form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.modal-form-comment {
  margin-bottom: 0px;
}

.modal-form-data {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.modal-form-data:focus-within .modal-form-icon, .modal-form-data:hover .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
}
.modal-form-data:focus-within .modal-form-input, .modal-form-data:hover .modal-form-input {
  border-color: var(--accent-color);
}

.modal-form-textarea {
  display: block;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

/* -----modal-check ------- */
.modal-check-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  position: relative;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-check-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal-check-box {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 2px;
  /* background-color: white; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 2px var(--logo-color-text);
          box-shadow: 0 0 0 2px var(--logo-color-text);
  -webkit-transition: background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.modal-check-input:focus-visible + .modal-check-box {
  -webkit-box-shadow: 0 0 0 2px var(--accent-color);
          box-shadow: 0 0 0 2px var(--accent-color);
}
.modal-check-input:checked + .modal-check-box {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  -webkit-box-shadow: 0 0 0 2px var(--accent-color);
          box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-form-link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}/*# sourceMappingURL=main.css.map */