.btn {
	margin: auto;
	padding: 10px 32px;
	min-width: 200px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--main-color);
	align-items: center;
	text-align: center;
	background-color: var(--accent-color);
	transition: background-color 250ms var(--cubic);

	&:hover,
	&:focus {
		background-color: var(--button-active);
	}
	@media screen and (min-width: 1200px) {
		min-width: 216px;
	}
}
