.header {
	@media screen and (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@media screen and (min-width: 768px) {
		padding-top: 21px;
		padding-bottom: 21px;
		display: flex;
		align-items: center;
	}
}

/*--- contact header ---*/
.header__contacts {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		margin-left: auto;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: auto;
		align-items: center;
		gap: 50px;
	}
}
.header__contacts .item:not(:last-child) {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-bottom: 10px;
	}
}
.header__contact {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	transition: color 250ms var(--cubic);
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

.header__icon-mail {
	fill: currentColor;
}
.header__icon-phone {
	fill: currentColor;
}
