.nav {
	display: flex;
	// justify-content: space-between;
	align-items: center;
}
// .menu {
// 	display: flex;
// 	padding: 0;
// 	margin: 0;
// 	list-style: none;
// }

@media (max-width: 767px) {
	.menu {
		display: none;
	}
}

// .menu .link {
// 	padding: 10px;
// 	color: inherit;
// 	text-decoration: none;
// }

// .menu .link:hover,
// .menu .link:focus {
// 	text-decoration: underline;
// }

.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	color: var(--accent-color);
}
.menu__icon {
	fill: currentColor;
}
.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 48px 40px;
	background-color: var(--main-color);
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transform: translateX(100%);
	transition: transform 250ms var(--cubic);
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: var(--title-text-color);
}

.mobile-menu,
.mobile-contacts,
.mobile-socials {
	padding: 0;
	margin: 0;
	list-style: none;
}
.mobile-menu-item:not(:last-child),
.mobile-contacts-item:not(:last-child) {
	margin-bottom: 32px;
}

.mobile-menu-link {
	display: block;
	// padding: 10px;
	color: var(--title-text-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	// text-align: l;
	letter-spacing: 0.02em;
}
.mobile-contacts-tel {
	font-weight: 500;
	font-size: 34px;
	line-height: 40px;

	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.mobile-contacts-mail {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.02em;

	color: var(--text-color);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
	color: var(--accent-color);
}
.mobile-contacts {
	margin-bottom: 65px;
}
.mobile-socials {
	display: flex;
	gap: 20px;
}
.mobile-socials-link {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: 0.02em;

	color: var(--accent-color);
}
.current {
	color: var(--accent-color);
}

// .btn__icon {
// 	fill: currentColor;
// }
// .menu-toggle__icon-close {
// 	display: none;
// }
// .menu-btn.is-open .menu-btn__icon-close {
// 	display: block;
// }
// .menu-btn.is-open .menu-btn__icon {
// 	display: none;
// }
.nav__list {
	display: none;
	@media screen and (min-width: 768px) {
		display: flex;
		margin-left: 87px;
		gap: 50px;
	}
	@media screen and (min-width: 1200px) {
		margin-left: 93px;
	}
}
.nav__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	-webkit-transition: color 250ms var(--cubic);
	transition: color 250ms var(--cubic);

	&--current {
		color: var(--accent-color);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 4px;
			background: #2196f3;
			border-radius: 2px;
		}
	}
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
